<!DOCTYPE html>
<html lang="en">

<head>
  <title>Blog - Pyae Sone Myo</title>
  {{> global-head}}
  <link rel="stylesheet" href="css/index.css" />
</head>

<body>
  {{> lenis}}
  <div id="cursor"></div>
  <div id="loading-wrapper" style="position: absolute; z-index: 10000">
    <div class="frame-wrapper">
      <div style="height: 100%"></div>
    </div>
  </div>
  <div class="frame-wrapper">
    <div class="frame">
      {{> navbar}}

      <section class="content">
        {{#with (get_latest pages)}}
        <h2 class="category-title text-uppercase">Latest — {{get_datetime createdTime}}</h2>
        <a href="./{{slug}}">
          <h1 class="inconsolata">{{title}}</h1>
        </a>
        <p>
          {{{get_content_slice content.text 300 true}}}...
        </p>
        <div class="row justify-content-between">
          <div class="col">
            <span class="card-issue-footer">{{get_readtime content.text}}</span>
          </div>
          <div class="col">
            <a href="./{{slug}}">
              <button type="button" class="btn inconsolata btn-outline-dark hvr-sweep-to-right">
                Read More
              </button>
            </a>
          </div>
        </div>
        {{/with}}
      </section>

      <section class="content">
        <div class="row">
          <div class="col-md">
            {{#each pages}}
            <div class="card card-issue mb-5">
              <div class="card-body p-0">
                <h5 class="card-title">
                  <a href="./{{slug}}">
                    {{title}}
                  </a>
                </h5>
                <p class="card-text">
                  {{{get_content_slice content.text 100 false}}}...
                </p>
                <span class="card-issue-footer">{{get_datetime createdTime}} • {{get_readtime content.text}}</span>
              </div>
            </div>
            {{else}}
            <p>
              This place is empty...
            </p>
            {{/each}}
          </div>
          <div class="col-sm-4">
            <h1>About -</h1>
            <p>
              Hello! I'm Pyae Sone Myo. This space is my little corner of the internet where I share thoughts, insights,
              and contemporary projects.
            </p>
          </div>
        </div>
      </section>
      <div style="height: 1000px"></div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
  <script src="https://pyaesonemyo.dev/js/cursor.js"></script>
  <script src="https://pyaesonemyo.dev/js/loading.js"></script>
</body>

</html>