<!DOCTYPE html>
<html lang="en">

<head>
  <title>Blog - Pyae Sone Myo</title>
  {{> head}}
  <link rel="stylesheet" href="css/index.css" />
</head>

<body>
  {{> lenis}}
  <div id="cursor"></div>
  <div id="loading-screen"></div>
  <div class="frame-wrapper">
    <div class="frame">
      {{> navbar}}

      <section class="content">
        {{#with latest}}
        <h3 class="category-title text-uppercase"><span class="i18n" data-content-2="မကြာမီက">Latest</span> — {{get_datetime createdTime}}</h3>
        <a href="./{{slug}}">
          <h2 class="inconsolata">{{title}}</h2>
        </a>
        <p>
          {{{get_content_slice content.text 300 true}}}...
        </p>
        <div class="row justify-content-between">
          <div class="col">
            <span class="card-issue-footer">{{get_readtime content.text}}</span>
          </div>
          <div class="col">
            <a href="./{{slug}}">
              <button type="button" class="btn inconsolata btn-outline-dark hvr-sweep-to-right">
                Read More
              </button>
            </a>
          </div>
        </div>
        {{/with}}
      </section>

      <section class="content">
        <div class="row">
          <div class="col-md">
            {{#each pages}}
            {{#unless (compare ../latest.slug "===" slug)}}
            <div class="card card-issue mb-5">
              <div class="card-body p-0">
                <h5 class="card-title">
                  <a href="./{{slug}}">
                    {{title}}
                  </a>
                </h5>
                <p class="card-text">
                  {{{get_content_slice content.text 100 false}}}...
                </p>
                <span class="card-issue-footer">{{get_datetime createdTime}} • {{get_readtime content.text}}</span>
              </div>
            </div>
            {{/unless}}
            {{else}}
            <p class="i18n" data-content-2="တစုံတခုမှားသွားသည်။">
              Something went wrong...
            </p>
            {{/each}}
          </div>
          <div class="col-sm-4">
            <h3 class="i18n" data-content-2="အကြောင်းအရာ">About</h3>
            <p class="i18n" data-content-2="ဒီနေရာက ကျွန်တော့ရဲ့ အတွေးအမြင်များနှင့် အသိဥာဏ်များ ကိုမျှဝေသည့် နေရာလေးတစ်ခုပါ။">
              Hello! I'm Pyae Sone Myo. This space is my little corner of the internet where I share my thoughts, insights,
              and contemporary projects.
            </p>
          </div>
        </div>
      </section>
      <div style="height: 1000px"></div>
    </div>
  </div>
  {{> scripts}}
</body>

</html>